<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="routingData"
          name="System.ServiceModel.Routing.RoutingService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1000/Router"/>
          </baseAddresses>
        </host>

        <endpoint address=""
                  binding="basicHttpBinding"
                  name="requestReplyEndpoint"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="routingData">
          <serviceMetadata httpGetEnabled="True"/>
          <routing filterTableName="MyRoutingTable" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <endpoint name="ServiceInstance"  address="http://localhost:1111/TestService" binding="basicHttpBinding"  contract="*">
      </endpoint>
      <endpoint name="MyBackup"  address="http://localhost:1111/TestService" binding="basicHttpBinding"  contract="*">
      </endpoint>


    </client>

    <routing>
      <filters>
        <filter name="MatchAllFilter" filterType="MatchAll" />
      </filters>
      <filterTables>
        <filterTable name="MyRoutingTable">
            <add filterName="MatchAllFilter" endpointName="ServiceInstance" />
                  </filterTable>
      </filterTables>

      <backupLists>
        <backupList name="backupList">
          <add  endpointName="MyBackup" />
        </backupList>      
      </backupLists>
      
    </routing>
  </system.serviceModel>
</configuration>
