<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BookEntities" connectionString="metadata=res://*/Chapter8Model.csdl|res://*/Chapter8Model.ssdl|res://*/Chapter8Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WIDGET;Initial Catalog=Book;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>