<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Chapter11.HelloAJAX.getDataWCFAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="MyServiceTypeBehaviors" />
        <behavior name="Chapter11.HelloAJAX.GetDataFromWCFAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service name="Chapter11.HelloAJAX.getDataWCF">
        <endpoint address="" behaviorConfiguration="Chapter11.HelloAJAX.getDataWCFAspNetAjaxBehavior" binding="webHttpBinding" contract="Chapter11.HelloAJAX.getDataWCF" />
      </service>
      <service name="Chapter11.HelloAJAX.GetDataFromWCF">
        <endpoint address="" behaviorConfiguration="Chapter11.HelloAJAX.GetDataFromWCFAspNetAjaxBehavior" binding="webHttpBinding" contract="Chapter11.HelloAJAX.GetDataFromWCF" />
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="BookEntities" connectionString="metadata=res://*/book.csdl|res://*/book.ssdl|res://*/book.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WIDGET;Initial Catalog=Book;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>