<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chapter15.HelloWPF.Properties.Settings.BookConnectionString"
            connectionString="Data Source=WIDGET;Initial Catalog=Book;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>